body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  /*100% = 16px = 1em*/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 6%;
}

a{
 color:#11999E;
 font-family: 'Montserrat', sans-serif;
 margin: 10px 20px;
 text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.profile-pic {
  border-radius: 50%;
  width: 25%;
}

.top-container {
  background-color: #E4F9F4;
  margin: 0;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.dev-img {
  width: 40%;
  float: left;
  margin-right: 30px;
}

.game-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.intro{
  width:30%;
  margin: auto;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11ccdd), color-stop(1, #119994) );
	background:-moz-linear-gradient( center top, #11ccdd 5%, #119994 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11ccdd', endColorstr='#119994');
	background-color:#11ccdd;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0.86px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:129px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #119994), color-stop(1, #11ccdd) );
	background:-moz-linear-gradient( center top, #119994 5%, #11ccdd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#119994', endColorstr='#11ccdd');
	background-color:#119994;
}.btn:active {
	position:relative;
	top:1px;
}
